
.idea/machine-learning.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
NLP/.idea/NLP.iml
NLP/.idea/misc.xml
NLP/.idea/modules.xml
NLP/.idea/workspace.xml

NLP/try.py
NLP/__pycache__/sentence_transform.cpython-35.pyc
NLP/__pycache__/__init__.cpython-35.pyc
NLP/__pycache__/__init__.cpython-35.pyc
*.pyc
